.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 16px;
}

/* Heading and content */
h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.description {
    color: #2e2e2e;
    margin-bottom: 24px;
    line-height: 1.6;
    white-space: pre-wrap;
    max-height: 40dvh;
    overflow-y: auto;
}

/* Gallery section */
h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.masonry-grid {
    column-count: 4;
    column-gap: 16px;
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 16px;
}

.gallery-image-container {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-image-container:hover {
    transform: scale(1.02);
}

.gallery-image-container img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    display: block;
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.image-caption h3 {
    color: white;
    font-size: 14px;
}

.object-marker {
    position: absolute;
    border: 2px solid #FF0000;
    border-radius: 4px;
    pointer-events: none;
    transition: all 0.2s ease;
}

.object-marker::after {
    content: attr(data-label);
    position: absolute;
    /* top: -25px; */
    left: 0;
    background-color: #FF0000;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
}

/* Responsive design */
@media (max-width: 1200px) {
    .masonry-grid {
        column-count: 5;
    }
}

@media (max-width: 768px) {
    .masonry-grid {
        column-count: 2;
    }
}

.not-found:after {
    content: "";
    display: flex;
    position: relative;
    margin: auto;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, rgba(239, 68, 68, 0), rgba(239, 68, 68, 0.5), rgba(239, 68, 68, 0));
}